body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.counter-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

#counter-value {
    font-size: 2em;
    margin-bottom: 20px;
}

button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #e7e7e7;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #ccc;
}
